/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation

- Footer
- Copyright


- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds, navbar -
- Backgrounds - l
- Buttons, icons -
- Headings text -
- Body text -
******************************************/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
/**************************/
/*     General Styles     */
/**************************/
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;

}

body, p {
    color: #4d5055;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
}
.text-center-vh{
    display: grid;
    place-items: center;
}
.fc-blue{
    color: #001D6D;!important;
}
.fc-white{
    color: white !important;
}
/**************************/
/*    Navbar    */
/**************************/

.navbar{
    width: 100%;
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
    /*background-color: bisque;*/
    justify-content: center;
    position: fixed;
    z-index: 10;
}

#company_logo{
    position: fixed;
    width: 126px;
    height: 226px;
    left: 43px;
    top: 43px;
    cursor: pointer;

    /*background-color: chartreuse;*/

}

nav{
    flex: 1;
    padding-right: 60px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;


}
nav ul li a{
    text-decoration: none;
    color: #001D6D ;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.active_nav{
    color: #a71d2a;!important;
    /*background-color: #1e7e34;*/

}

/**************************/
/*    social media pack    */
/**************************/
.social_media_pack{
    /*background-color: #5f9d1c;*/
    width: 5vw;
    height: 40vh;
    position: fixed;
    top: 50vh;
    margin-left: 3vw;
}
.sm-icon-box{

    width: 55px;
    height:55px;
    left: 5vw;
margin: 15px;

    position: inherit;
    border-radius: 100%;
   background-color: #052970;
    z-index: 5;

}

#sm-icon-box1{
    top:50vh;
}
#sm-icon-box2{
    top:60vh;
}
#sm-icon-box3{
    top:70vh;
}
#sm-icon-box4{
    top:80vh;
}
.sm-icon{
    color: #65F2CE;
    font-size: 2rem;
    text-align: right;
    text-decoration: none;
}


/**************************/
/*    Home page    */
/**************************/

/*========================================================*/
/*Welcome Screen*/
/*========================================================*/

.welcome{
    /*background-color: cadetblue;*/
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;

    justify-content: center;
}
.home-banner{
    position: center;
    /*width: 1075px;*/
    /*height: 567px;*/
    width: 80%;
    left: 322px;
    top: 156px;
}
.Home-topic{
    /*position: absolute;*/
    /*width: 283px;*/
    /*height: 116px;*/
    /*left: 238px;*/
    /*top: 370px;*/

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    line-height: 50px;
    letter-spacing: -0.075em;



}
.topic-box{
    /*background-color: cadetblue;*/
    margin-left:2vw ;
    /*padding-top: 200px;*/
}
/*========================================================*/
/*Services Screen*/
/*========================================================*/

.Serivices{
    background-color: #052970;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;

    justify-content: center;
}
.service-icon{
    /*position: absolute;*/
    width: 125px;
    height: 127px;
    /*left: 233px;*/

}
.service-list-icon{
    width: 95px;
    /*height: 97px;*/
}
.service-topic-list{
    /*position: absolute;*/
    /*width: 138px;*/
    /*height: 62px;*/
    /*left: 977px;*/
    /*top: 1262px;*/

    font-family: 'Inter', sans-serif;
    font-style: normal;
    /*font-weight: 400;*/
    font-size: 22px;
    /*line-height: 31px;*/
    letter-spacing: -0.075em;
}

/*========================================================*/
/*AboutUs Screen*/
/*========================================================*/
.aboutUs-p{
    margin-top: 25px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 16px;
    text-align: justify;
    letter-spacing: -0.02em;
}

/*========================================================*/
/*Clients Screen*/
/*========================================================*/


.Clients{
    background-color: #052970;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;

    justify-content: center;
}



/*========================================================*/
/*Contacts Screen*/
/*========================================================*/
.Contacts{
    background-color: #052970;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;

    justify-content: center;
}

.red{
    color:red;
}
.form-area {
    /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.17);
    border-radius: 20px;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
}

.btn-submit{
    color: #001D6D;
    background-color: #55F9CE;
    width: 100%;
}
.bv-form .help-block {
    margin-bottom: 0;
}
.bv-form .tooltip-inner {
    text-align: left;
}
.nav-tabs li.bv-tab-success > a {
    color: #3c763d;
}
.nav-tabs li.bv-tab-error > a {
    color: #a94442;
}

.bv-form .bv-icon-no-label {
    top: 0;
}

.bv-form .bv-icon-input-group {
    top: 0;
    z-index: 100;
}

.form-content-box{
    background-color: unset!important;
    border:solid white 0.5px ;
}
/**************************/
/*    Services page    */
/**************************/






/**************************/
/*    AboutUs page    */
/**************************/







/**************************/
/*    Footer    */
/**************************/