/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation

- Footer
- Copyright


- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds, navbar -
- Backgrounds - l
- Buttons, icons -
- Headings text -
- Body text -
******************************************/


/**************************/
/*     General Styles     */
/**************************/
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;

}

body, p {
    color: #4d5055;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
}
/**************************/
/*    Home page    */
/**************************/







/**************************/
/*    Services page    */
/**************************/







/**************************/
/*    AboutUs page    */
/**************************/







/**************************/
/*    Footer    */
/**************************/