/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation

- Footer
- Copyright


- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds, navbar -
- Backgrounds - l
- Buttons, icons -
- Headings text -
- Body text -
******************************************/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
/**************************/
/*     General Styles     */
/**************************/
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;

}

body, p {
    color: #4d5055;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

.text-center-vh {
    display: grid;
    place-items: center;
}

.fc-blue {
    color: #001D6D;
!important;
}

.fc-white {
    color: white !important;
}
.fc-green{
    color:#55F9CE ;
}
.pl-6,
.px-6 {
    padding-left: 4vw !important;
}
.pb-10{
    padding-bottom: 10vh !important;
}

/**************************/
/*    Navbar    */
/**************************/
.logo-b{
    background-image: url("../wetransfer_banners_2022-09-12_1034/Icons/logo png-01.png");
    position: fixed;
    /*width: 126px;*/
    height: 190px;
    left: 43px;
    top: 43px;
    cursor: pointer;
    /*background-color: #a71d2a;*/
}
.logo-lb{
    background-image: url("../wetransfer_banners_2022-09-12_1034/Icons/logo png-01.png");
}
.navbar {
    width: 100%;
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
    /*background-color: bisque;*/
    justify-content: center;
    position: fixed;
    z-index: 10;
}

.company_logo {
    position: fixed;
    /*width: 126px;*/
height: 0;
    left: 43px;
    top: 43px;
    cursor: pointer;

    /*background-color: chartreuse;*/

}
.cl-h{
    height: 190px;!important;
}
nav {
    flex: 1;
    padding-right: 60px;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;


}

nav ul li a {
    text-decoration: none;
/*background-color: #a71d2a;*/
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    /*font-weight: bold;*/
    font-size: 28px;
    line-height: 22px;
}
nav ul li a:hover{
    text-decoration: none;
    color: #55F9CE;!important;
}

.active_nav {
    color: #55F9CE;
!important;
    /*background-color: #1e7e34;*/

}

/**************************/
/*    social media pack- blue    */
/**************************/
.social_media_pack {
    /*background-color: #5f9d1c;*/
    width: 5vw;
    height: 40vh;
    position: fixed;
    top: 75vh;
    margin-left: 3vw;
    z-index: 10;
}

.sm-icon-box {

    width: 35px;
    height: 35px;
    left: 5vw;
    margin: 3px;

    position: inherit;
    border-radius: 100%;
    background-color: #052970;
    z-index: 5;

}
.sm-icon-box-footer {

    width: 55px;
    height: 55px;
    left: 5vw;
    margin: 3px;

    position: inherit;
    border-radius: 100%;
    background-color: #052970;
    z-index: 5;

}

#sm-icon-box1 {
    top: 80vh;
}

#sm-icon-box2 {
    top: 85vh;
}

#sm-icon-box3 {
    top: 90vh;
}

#sm-icon-box4 {
    top: 95vh;
}

.sm-icon {
    color: #65F2CE;
    font-size: 1rem;
    text-align: right;
    text-decoration: none;
}

.sm-icon-footer {
    color: #65F2CE;
    font-size: 2rem;
    text-align: right;
    text-decoration: none;
}

.sm-icon-box-lb {

    width: 35px;
    height: 35px;
    left: 5vw;
    margin: 3px;

    position: inherit;
    border-radius: 100%;
    background-color: #65F2CE;
    z-index: 5;

}

.sm-icon-lb {
    color: #001D6D;
    font-size: 1rem;
    text-align: right;
    text-decoration: none;
}

/**************************/
/*    Home page    */
/**************************/

/*========================================================*/
/*Welcome Screen*/
/*========================================================*/
.p-8 {
    margin-left: 18rem;
}

.welcome {
    /*background-color: cadetblue;*/
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;

    justify-content: center;

}

.home-banner {
    position: center;
    /*width: 1075px;*/
    height: 100%;
    width: 70%;
    /*left: 622px;*/
    /*margin-top: 5rem;*/
    /*margin-left: 10rem;*/
    /*top: 156px;*/
}

.Home-topic {
    /*position: absolute;*/
    /*width: 283px;*/
    /*height: 116px;*/
    /*left: 238px;*/
    /*top: 370px;*/

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 7.5rem;
    line-height: 80px;
    letter-spacing: -0.075em;


}

.learnMore {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    /*font-weight: 700;*/
    font-size: 1.2rem;
    line-height: 50px;
    letter-spacing: -0.075em;
}

.topic-box{
    /*background-color: cadetblue;*/
    /*margin-left:3vw ;*/
    /*padding-top: 200px;*/
}

/*========================================================*/
/*Services Screen*/
/*========================================================*/

.Serivices {
    background-color: #052970;
    background-image: url("../wetransfer_banners_2022-09-12_1034/Banners/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /*margin: auto;*/

}

.service-icon {
    /*position: absolute;*/
    width: 125px;
    height: 127px;
    /*left: 233px;*/

}

.service-list-icon {
    width: 95px;
    /*height: 97px;*/margin-right: 3rem ;
}

.service-topic-list {
    /*position: absolute;*/
    /*width: 138px;*/
    /*height: 62px;*/
    /*left: 977px;*/
    /*top: 1262px;*/

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    /*font-weight: 400;*/
    font-size: 42px;
    line-height: 31px;
    letter-spacing: -0.075em;
}

/*========================================================*/
/*AboutUs Screen*/
/*========================================================*/
.aboutUs-p {
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    /*font-weight: lighter;*/
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: justify;
    letter-spacing: -0.02em;
}

.home-banner1 {
    position: center;
    /*width: 1075px;*/
    /*height: 567px;*/
    width: 80%;
    /*left: 622px;*/
    /*margin-top: 5rem;*/
    /*margin-left: 5rem;*/
    top: 156px;
}

/*========================================================*/
/*Clients Screen*/
/*========================================================*/


.Clients {
    background-color: #052970;
    width: 100%;
    height: 100vh;
    /*margin: auto;*/
    /*display: flex;*/



}

.clinets-m-2 {
    margin-left: 2vw;
    margin-right: 2vw;
}

.clients-logos {
    position: center;
    /*width: 1075px;*/
    /*height: 567px;*/
    width: 40%;
    /*left: 622px;*/
    margin-top: 5rem;
    /*margin-left: 10rem;*/
    /*top: 156px;*/
}

/*========================================================*/
/*Contacts Screen*/
/*========================================================*/
.Contacts {
    background-color: #052970;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;

    justify-content: center;
}

.red {
    color: red;
}

.form-area {
    /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.07);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.17);
    border-radius: 20px;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    width: 500px;
}

.btn-submit {
    color: #001D6D;
    background-color: #55F9CE;
    width: 100%;
    border-radius: 10px !important;
}

.btn-submit:hover {
    background-color: #001D6D;
    color: #55F9CE;
    width: 100%;
}

.bv-form .help-block {
    margin-bottom: 0;
}

.bv-form .tooltip-inner {
    text-align: left;
}

.nav-tabs li.bv-tab-success > a {
    color: #3c763d;
}

.nav-tabs li.bv-tab-error > a {
    color: #a94442;
}

.bv-form .bv-icon-no-label {
    top: 0;
}

.bv-form .bv-icon-input-group {
    top: 0;
    z-index: 100;
}

.form-content-box {
    background-color: unset !important;
    border: solid white 0.5px;
}


/*========================================================*/
/*Footer*/
/*========================================================*/

/**************************/
/*    Services page    */
/**************************/

.services-section1{
    /*background-color: #052970;*/
    background-image: url("../wetransfer_banners_2022-09-12_1034/services-banners/services-banner.png");
    background-repeat:no-repeat ;
    background-size: cover;
    background-position:center ;
    width: 100%;
    height: 130vh;
    margin: auto;
    display: flex;
    align-items: center;

    justify-content: center;
}


.services-section2{
    /*background-color: #052970;*/
    background-image: url("../wetransfer_banners_2022-09-12_1034/services-banners/services-banner-1.png");
    background-repeat:no-repeat ;
    background-size: cover;
    background-position:center ;
    width: 100%;
    height: 130vh;
    margin: auto;
    display: flex;
    align-items: center;

    justify-content: center;

}

.services-section3{
    /*background-color: #052970;*/
    background-image: url("../wetransfer_banners_2022-09-12_1034/services-banners/services-banner-2.png");
    background-repeat:no-repeat ;
    background-size: cover;
    background-position:center ;
    width: 100%;
    height: 130vh;
    margin: auto;
    display: flex;
    align-items: center;

    justify-content: center;
}

.services-section4{
    /*background-color: #052970;*/
    background-image: url("../wetransfer_banners_2022-09-12_1034/services-banners/services-banner-3.png");
    background-repeat:no-repeat ;
    background-size: cover;
    background-position:center ;
    width: 100%;
    height: 130vh;
    margin: auto;
    display: flex;
    align-items: center;

    justify-content: center;
}

.services-section5{
    /*background-color: #052970;*/
    background-image: url("../wetransfer_banners_2022-09-12_1034/services-banners/services-banner-4.png");
    background-repeat:no-repeat ;
    background-size: cover;
    background-position:center ;
    width: 100%;
    height: 140vh;
    margin: auto;
    display: flex;
    align-items: center;

    justify-content: center;
}

.service-welcome {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 7rem;
    line-height: 5rem;
    letter-spacing: -0.075em;
    text-shadow: 5px 5px 4px rgb(3, 14, 35);


}
.Digital-marketing-p {
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    /*font-weight: lighter;*/
    font-size: 2rem;
    line-height: 2rem;
    text-align: justify;
    letter-spacing: -0.02em;
}

.service-ul-li {
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;!important;
    font-style: normal;!important;
    /*font-weight: lighter;*/
    font-size: 2rem;!important;
    /*line-height: 4rem;*/
    text-align: justify;
    letter-spacing: -0.02em;
    /*list-style-type: none;*/
}
/**************************/
/*    AboutUs page    */
/**************************/
.aboutUs-banner{
    /*background-color: #a71d2a;*/
    /*width: 100%;*/

}
.bg-img-au{
    background-image: url("../wetransfer_banners_2022-09-12_1034/services-banners/services-banner-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}

.team-img {
    /*position: absolute;*/
    /*width: 125px;*/
    height: 300px;
    /*left: 233px;*/

}
.position-box{
    /*width: 3vh;*/
    /*height: 3vh;*/
    background-color: #001D6D;
    border-radius: 5px;
}
.position-career{
    font-size: inherit;
}
/**************************/
/*    Footer    */
/**************************/
.footer {
    /*background-color: #1a0202;*/
    width: 100%;
    /*height: 10vh;*/
    /*margin: 5rem;*/
    display: flex;
    align-items: center;

    justify-content: center;
    vertical-align: top !important;
}



.footer-ul {
    vertical-align: top;
    list-style-type: none;
    padding: 0;

    font-size: 1.5rem;
    /*line-height: 4rem !important;*/
    letter-spacing: -0.02em;
    /*margin: 3rem;*/
    margin-top: 3rem;

}
.copyright{
    width: 100%;
    height: 8vh;
    /*background-color: #5a6268;*/
}

.footer-company-name{
    font-size: 1.5rem;
}
.privacy{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 0!important;
}

/**************************/
/*    media queries    */
/**************************/

@media (min-width: 992px) {
    .aboutUsPadding-l {
        padding-left: 30%;
    }

    .getInTuchPadding-l {
        padding-left: 12%;
    }
}

@media (max-width: 767px) {
    .clinets-m-2 {
        margin-left: 25vw;
    !important;
        margin-right: 25vw;
    !important;
    }
}